@import "tailwindcss";

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* scrollbar*/
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #22c55e;
  border-radius: 15px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #00ff5e;
}
